*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-footer{
    max-width: 1170;
    background-color: rgb(208, 194, 222);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: rgb(47, 47, 47);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: rgb(77, 116, 150);
    text-transform: capitalize;
    margin-bottom: 30px;
}*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

header{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px   25px;
}

.inputSearch{
    border-radius: 15px;
    padding: 7px;
    background-color: rgb(66, 66, 66);
    width: 30%;
}
.inputSearch::placeholder{
    color: whitesmoke;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: rgba(228, 37, 100, 100);
    transition: .3s;
}

.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px  25px;
    border-radius: 30px;
}

.btn:hover{
    transform: scale(1.2);
    transition: .3s;
}