*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

main {
    height: 2184px;
}

/* Section About Us */
#about-us {
    margin-top: 200px;
    margin-left: 70px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.s-about-us {
    width: 260px;
    margin: 0px 40px 20px 0px;
    --bs-border-radius: 15px;
}

.card-title {
    margin-top: 10px;
    font-weight: bold;
}
.card-text {
    font-weight: normal;
}

/* Section Stats */
#stats {
    margin: 50px 70px;
}

#stats-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.s-stats {
    margin: 0px !important;
    width: 400px;
    --bs-border-color-translucent: #1F1F1F;
    --bs-border-width: 2pt;
    justify-content: center;
    --bs-card-group-margin: 0px !important;
}

#image-container {
    position: relative;
    margin: 0px;
}

#solana {
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 60px;
    margin: 10px;
}

.card-stats {
    color: #1F1F1F;
    opacity: 100;
}

.stats-text-container {
    width: 100%;
    padding: 30px;
    display: flex;
    margin: 0px;
    background-color: #606060;
    border-radius: 0px 15px 15px 0px;
    float: right;
}

.container-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big-numbers {
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.specific-stats-text {
    width: 480px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A8A8A8;
    border-radius: 8px;
}

.text-numbers {
    margin: 10px;
}

p {
    margin: 0px !important;
}

/* Section Launchpad */
#launchpad {
    margin: 50px 70px;
}

.s-launchpad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    padding: 5px 10px;
    background-color: #606060;
    border-radius: 20px;
    color: white;
}

.image-launchpad{
    position: relative;
}



/* footer */
.container-footer{
    max-width: 1170px;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-logo{
    overflow: hidden;
    max-width: 200px;
}
.footer-logo img{
    width: 100%;
}
.footer{
    background-color: rgb(47, 47, 47);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 30px;
}
.footer-col h4{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -10px;
    background-color:#E42575 ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: regular;
    color:rgb(173, 173, 173);
    display: block;
    transition: all 0.3s ease-in-out;
}
.footer-col ul li a:hover{
    color: #E42575;
    padding-left: 10px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color:#e4257580;
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5 ease-in-out;
}
.footer-col .social-links a:hover{
    color: #E42575;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width: 762px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Header */

header{
    background-color: rgb(18, 13, 24);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px   25px;
}

.inputSearch{
    border-radius: 15px;
    padding: 7px;
    background-color: rgb(33, 22, 44);
    width: 30%;
}
.inputSearch::placeholder{
    color: whitesmoke;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: rgba(228, 37, 100, 100);
    transition: .3s;
}

.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 5px  25px;
    border-radius: 30px;
}

.btn:hover{
    transform: scale(1.2);
    transition: .3s;
}

/*Sección 1*/
#launchpad-inicial {
    background-color: rgb(18, 13, 24);
    padding: 390px;
    padding-bottom: 400px;
  }

  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
  }

  .launchpad-button {
    background-color: rgb(55, 55, 55);
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    height: 30px;
    width: 120px;
    font-size: 11px;
    font-weight: medium;
    position: absolute;
    margin-top: 300px;
    top: 10px;
    left: 400px;
  }

  .gotolaunchpad-button {
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: rgb(18, 13, 24);
    height: 70px;
    width: 344px;
    font-size: 100%;
    font-weight: bold;
    position: absolute;
    margin-top: 650px;
    top: 15px;
    left: 400px;
  }

  .gotolaunchpad-button:hover {
    color: rgba(228, 37, 100, 100);
  }


  .launchpad-text h2 {
    color: white;
    max-width: 50%;
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 40px;
  }

  .launchpad-text p {
    color: white;
    max-width: 50%;
    font-size: 20px;
  }

  .slider {
    position: relative;
    float: right;
    position: absolute;
    top: 30%;
    right: 300px;
    width: 30%;
    height: 100%;
    overflow: hidden;
  }
  
  .slider ul {
    padding: 0;
    display: flex;

    animation: slider 10s infinite;
  }

  .slider li{
    width: 100%;
    list-style: none;
    height: 100%;
  }

  .slider li img {
    width: 300%;
  }

  @keyframes slider{
        0% { transform: translateX(0); } /* posición inicial */
        100% { transform: translateX(-100%); } /* posición final */
  }



  

  
/*Sección 1 final*/